extends layout

block content
  h1= title
  p #{title} is here now! 🤡
  p This project is a learning exercise, as part of my Course on Software Engineering at Coyotiv (2022). 
  p It is not a finished application and is deprecated once the learning goals have been achieved. This is why you won’t find any meaningful feature and why things may be breaking ;-) 
  p I am surely learning loads though!
  span Pug is fun
  p goodbye html 
  p this is beautiful
